*{
  background-image: "url('/images/bg-intro-desktop.svg')";
}

.nav{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 100px;
  padding-right: 100px;
}

@media(max-width:768px){
  .nav{
    padding-left:20px;
    padding-right:20px;
  }
}

.links{
  display: flex;
  column-gap: 20px;
}

.hamburger{
  display: none;
}

@media(max-width:768px){
  .link-btn{
    display: none;
  }

  .hamburger{
    display: block;
    border-width: 0px;
    background-color: white;
  }
}

.link-btn{
  padding-bottom: 5px;
  background-color: white;
  color: rgb(148 163 184);
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration-line: none;
}

.link-btn:hover{
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(106, 236, 106);
  text-decoration-thickness: 2px;
  color: rgb(51 65 85);
}

.universal-btn{
  border-radius: 9999px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to right, rgb(13, 182, 13), rgb(70, 139, 243));
  color: white;
  border: none;  
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}

.top-btn{
  display: block;
}

@media(max-width:768px){
  .top-btn{display: none;}
}

.universal-btn:hover{
  background-image: linear-gradient(to right, rgb(89, 216, 89), rgb(134, 176, 240)) ;
}

.header-left{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media(max-width:768px){
  .header-left{
    display: flex;
    flex-direction: column;
  }
}

.intro{
  row-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(15 23 42);
}

.intro-header{
  font-size: 3.75rem;
line-height: 1;
}

@media(max-width:768px){
  .intro-header{
    font-size: 3rem; /* 48px */
    line-height: 1
  }
}

.intro-text{
  color: rgb(148 163 184);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.pic{
  background-size: cover;
  overflow: hidden;
  background-image: url('/images/bg-intro-phone.svg');
  background-position: left 0px bottom 160px;
}

.main-pic{
  margin-top: -120px;
}

@media(max-width:768px){
.main-pic{
    width: 370px;
    height: 400px;
}
  .intro{
    order: 2;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pic{
    order: 1;
    background-size: auto;
  }
}

.choose{
  display: grid;
  row-gap: 20px;
  background-color: rgb(226 232 240);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media(max-width:768px){
  .choose{
    padding-left: 20px;
  padding-right: 20px;
  }
}

.choose-top{
  width: 650px;
}

@media(max-width:768px){
  .choose-top{
    width: auto;
    text-align: center;
  }
}

.choose-header{
  font-size: 1.875rem;
line-height: 2.25rem;
color: rgb(51 65 85);
}

@media(max-width:768px){
  .choose-header{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;
  }
}

.choose-text{
  color: rgb(71 85 105);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.benefits{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media(max-width:768px){
  .benefits{
    display: flex;
    flex-direction: column;
  }
}

.benefits-header{
  color: rgb(71 85 105);
  font-size: 1.25rem; /* 20px */
line-height: 1.75rem;
}

.benefits-card{
  padding-right: 10px;
}

@media(max-width:768px){
  .benefits-card{
    max-width: 300px;
    text-align: center;
  }
}

.benefits-text{
  color: rgb(100 116 139);
  font-size: 1.125rem; /* 18px */
line-height: 1.75rem;
}

.article{
  display: grid;
  row-gap: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-body{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

@media(max-width:768px){
  .article-body{
    display: flex;
    flex-direction: column;
  }

  .article{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

.article-img{
  width: 250px;
  height: 200px;
  border-radius: 0.375rem;
}

.article-cardbody{
  padding-left: 20px;
  padding-right: 30px;
}

.auther{
  color: rgb(148 163 184);
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;
}

.article-h2{
  color: rgb(71 85 105);
  font-size: 1.125rem; /* 18px */
line-height: 1.75rem;
}

.article-h2:hover{
  color: rgb(56 189 248);
}

.article-text{
  color: rgb(148 163 184);
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; 
}

.footer{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: rgb(23 37 84);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

@media(max-width:768px){
  .footer{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info{
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerimage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-icons{
  display: grid;
  row-gap: 40px;
}

.footerimage{
  display: flex;
}

.footer-img{
  width: 150px;
}

.icons{
  display: flex;
  column-gap: 20px;
  
}

.iconimage{
width: 30px;
height: 20px;
}

.info{
  display: flex;
  justify-content: space-between;
  color: rgb(148 163 184);
}

.info-1{
  display: grid;
  row-gap: 20px;
}

.solo{
  text-decoration-line: none;
  color: rgb(100 116 139);
}

.solo:hover{
  color: rgb(241 245 249);
}

.footer-license{
  display: grid;
  text-align: end;
  color: white;
}

@media(max-width:768px){
  .footer-license{
    text-align: center;
  }
}

.license{
  color: rgb(100 116 139);
}

.modal{
  position:fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-nav{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.modal-body{
  background-color: #fff;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0.5rem;
  display: grid;
  row-gap: 20px;
}

.modal-option{
  color: rgb(51 65 85);
  font-size: 1.25rem; 
  line-height: 1.75rem;
  font-weight: 500;
  text-decoration-line: none;
}

.modal-option:hover{
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-color: rgb(106, 236, 106);
  text-decoration-thickness: 2px;
  color: rgb(60, 113, 187);
}

